body {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: normal;
    font-weight: 400;
    font-family: Amalia, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--c_text-default);
    background-color: var(--c_bg-default);
}

.navbar {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#navigationOverlay {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2000;
}

.navbar-brand {
    font-size: 24px;
}

.responsive {
    width: 100%;
    height: auto;
}

.btn {
    background-color: #f00bce;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.btn :hover {
    background-color: #caea3c;
    color: #fff;
}


.jumbotron {
    background-color: #f8fafa;
}

.moving-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    background-color: #1ed781;
    /* Example background color */
}

.moving-banner h1,
.moving-banner p,
.moving-banner a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}

.moving-banner a {
    animation: moveBanner 10s linear infinite;
}

@keyframes moveBanner {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(19, 236, 236, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: hsl(178, 95%, 58%);
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.cursor {
    opacity: 0.6;
}

.active,
.cursor:hover {
    opacity: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #6c757d;
}